html,
body {
  margin: 0;
  /* background-color: #f4f4f4; */
  
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  /* text-align: center; */
 

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 20px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  margin-top: -12px;
  width: 30px;
  height: 25px;
  left: 30px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
  
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 4px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #000000;
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  padding-left:20px ;
  padding-top:40px ;
  
 
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #000000;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
